body{
    background-color: #1b1e48;
}

.clock{
    color: aliceblue;
    font-size: 200px;
    width: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}